.proyectos_slider {
    min-height: 87rem;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.509);
    }
@media only screen and (min-width: 810px) {
    .proyectos_slider {
        min-height: 90vh;
        height: 90vh;
        }
}